###
# app configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/narr/environment.html
###

[app:main]
use = egg:shadock

pyramid.reload_templates = true
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en
pyramid.includes =
    pyramid_debugtoolbar

# By default, the toolbar only appears for clients from IP addresses
# '127.0.0.1' and '::1'.
# debugtoolbar.hosts = 127.0.0.1 ::1

###
# wsgi server configuration
###

config = config.yaml

#social
endpoint = https://docker-ui.genouest.org/logged_in

# Beaker sessions
session.type = file
session.data_dir = %(here)s/var/sessions/data
session.lock_dir = %(here)s/var/sessions/lock
session.key = bioshadock
session.secret = ReplaceWithGoodPassword
session.cookie_on_exception = true

# comma separated providers: google,gihub
allow_auth=
velruse.google.consumer_key =
velruse.google.consumer_secret =

velruse.github.consumer_key =
velruse.github.consumer_secret =


[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 6543

###
# logging configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/narr/logging.html
###

[loggers]
keys = root

[handlers]
keys = console,file

[formatters]
keys = generic

[logger_root]
level = DEBUG
handlers = console, file


[handler_file]
class = FileHandler
args = ('web.log','a')
level = INFO
formatter = generic

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = DEBUG
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s
