Babel==1.3
Beaker==1.6.4
BeautifulSoup==3.2.1
Brlapi==0.6.1
Chameleon==2.11
Cheetah==2.4.4
CherryPy==3.2.2
Django==1.6.4
Fabric==1.8.2
FormEncode==1.2.6
GitPython==0.3.2.RC1
GnuPGInterface==0.3.2
Jinja2==2.7.1
M2Crypto==0.21.1
Mako==0.9.1
Markdown==2.4
MarkupSafe==0.18
MySQL-python==1.2.3
NINJA-IDE==2.3
PAM==0.4.2
Pairtree==0.7.1-T
Paste==1.7.5.1
PasteDeploy==1.5.0
PasteScript==1.7.5
Pillow==2.3.0
PyOpenGL==3.0.2
PyYAML==3.10
Pygments==1.6
Routes==2.0
SQLAlchemy==0.8.4
SecretStorage==2.0.0
Sphinx==1.2b3
Tempita==0.5.2
Twisted-Core==13.2.0
Twisted-Names==13.2.0
Twisted-Web==13.2.0
UniConvertor==1.1.4
WebOb==1.2.3
WebTest==2.0.5
Yapsy==1.10.1-pythons2n3
adium-theme-ubuntu==0.3.4
amqp==1.0.11
anyjson==0.3.3
apt-xapian-index==0.45
argparse==1.2.1
arista==0.9.7
astroid==1.0.1
async==0.6.1
azure==0.8.0pr1
beautifulsoup4==4.1.3
billiard==2.7.3.28
boto==2.20.1
bzr==2.7.0dev1
celery==3.0.19
celery-with-mongodb==3.0
chardet==2.0.1
-e git://git.openstack.org/openstack/cinder.git@b75d26f9f3a15f00e2a9605e23752b30cab583e6#egg=cinder-origin/master
cliff==1.6.1.2.g4bdf5fc
cmd2==0.6.7
command-not-found==0.3
configglue==1.1.2
configobj==4.7.2
coverage==3.6
debtagshw==0.1
decorator==3.4.0
defer==1.0.6
dirspec==13.10
distribute==0.7.3
django-appconf==0.6
django-compressor==1.3
django-openstack-auth==1.1.5
dnspython==1.11.1
docopt==0.6.1
docutils==0.11
dogpile.cache==0.5.3
dogpile.core==0.4.1
duplicity==0.6.23
ecdsa==0.11
euca2ools==3.0.1
eventlet==0.13.0
extras==0.0.3
feedparser==5.1.3
fixtures==0.3.14
fluendo-eula==0.6
futures==2.1.6
fysom==2.1.1
gitdb==0.5.4
-e git://git.openstack.org/openstack/glance.git@3e48e354d389ef48cdfe640c581b565a66755ff3#egg=glance-origin/master
greenlet==0.4.2
-e git://git.openstack.org/openstack/heat.git@322f61f5c7948db058726617f8e46c058d2d07b0#egg=heat-origin/master
-e git://git.openstack.org/openstack/horizon.git@7890f9052c0cb412884027e80805c160ceb51191#egg=horizon-origin/master
httplib2==0.8
iso8601==0.1.10
jedi==0.7.0
jsonpatch==1.5
jsonpointer==1.3
jsonschema==2.0.0
keyring==3.5
-e git://git.openstack.org/openstack/keystone.git@8697b39ba6d89e34e8aa5c381ade2e6bfdd53fcb#egg=keystone-origin/master
kombu==2.5.10
launchpadlib==1.10.2
lazr.restfulclient==0.13.3
lazr.uri==1.0.3
lesscpy==0.10.1
librabbitmq==1.0.3
libvirt-python==1.2.2
lockfile==0.8
logilab-common==0.61.0
louis==2.5.3
lxml==3.3.3
mercurial==2.8.2
mesos==0.22.1
mesos.interface==0.22.1
mesos.native==0.22.1
mock==1.0.1
mongokit==0.9.0
mox==0.5.3
msgpack-python==0.3.0
mysql-connector-python==1.1.6
mysql-utilities==1.3.5
netaddr==0.7.11
netifaces==0.8
networkx==1.8.1
nose==1.3.1
-e git://git.openstack.org/openstack/nova.git@2a2178e767486131df59d6cd5305df1fae7e0a40#egg=nova-origin/master
numpy==1.8.2
oauth==1.0.1
oauthlib==0.6.1
oneconf==0.3.7.14.04.1
openshot==1.4.3
oslo.config==1.3.0.15.g78c2bc9
oslo.messaging==1.3.0.35.g9d64540
oslo.rootwrap==1.2.0.3.gb7a1a7b
oslo.vmware==0.3.16.gc4d2d95
paramiko==1.15.1
passlib==1.6.2
pbr==0.8.0.15.gadb0d20
pep8==1.4.6
pexpect==3.1
pika==0.9.13
piston-mini-client==0.7.5
ply==3.4
posix-ipc==0.9.8
prettytable==0.7.2
protobuf==2.5.0
psutil==1.2.1
py==1.4.20
py-bcrypt==0.3
pyOpenSSL==0.13
pyasn1==0.1.7
pycadf==0.5.3.g2f6fd83
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pydns==2.3.6
pyftpdlib==1.2.0
pygeoip==0.2.6
pygobject==3.12.0
pygpgme==0.3
pyinotify==0.9.4
pylint==1.1.0
pymongo==2.6.3
pyparsing==2.0.2
pyramid==1.5a2
pyramid-beaker==0.7
pyramid-celery==1.3
pyramid-debugtoolbar==1.0.9
pyramid-mailer==0.11
pyserial==2.6
pysmbc==1.0.14.1
pysqlite==2.6.3
python-apt==0.9.3.5ubuntu1
python-ceilometerclient==1.0.10
-e git://git.openstack.org/openstack/python-cinderclient.git@12347c1a474fe2f93edf1c02f6c2c8dc094862b2#egg=python_cinderclient-master
python-coveralls==2.0.0
python-dateutil==1.5
python-debian==0.1.21-nmu2ubuntu2
python-distutils-extra==2.38
-e git://git.openstack.org/openstack/python-glanceclient.git@b68d13bf8329bf5dbcc13ad82480a055b5ea4cc0#egg=python_glanceclient-master
-e git://git.openstack.org/openstack/python-heatclient.git@5a78fdf4eca4d74ce32c6e31d1e01ee1d21ae06d#egg=python_heatclient-master
python-ironicclient==0.1.4
-e git://git.openstack.org/openstack/python-keystoneclient.git@3d6d749e6f0fef682a88758e1a2f6c9e8e7bd23c#egg=python_keystoneclient-master
python-mimeparse==0.1.4
-e git://git.openstack.org/openstack/python-neutronclient.git@f6eba87aa1761de2425d4651a62e3d07d88de3fe#egg=python_neutronclient-master
-e git://git.openstack.org/openstack/python-novaclient.git@076c1a004ab1c861bd02ef7b020e1cbce8a934cc#egg=python_novaclient-origin/HEAD
python-openid==2.2.5
-e git://git.openstack.org/openstack/python-openstackclient.git@a93851d6af899e18638039aee06465c025e1e037#egg=python_openstackclient-master
python-saharaclient==0.7.0
python-subunit==0.0.18
-e git://git.openstack.org/openstack/python-swiftclient.git@22badfd804f4a7e2d161954748a51d5ec727293c#egg=python_swiftclient-master
python-troveclient==1.0.5
pytz==2014.2
pyxdg==0.25
qpid-python==0.26
redis==2.7.6
reportlab==3.0
repoze.lru==0.6
repoze.sendmail==4.0
requestbuilder==0.1.0-beta1
requests==1.2.3
roman==2.0.0
rtslib-fb==2.1.47
scgi==1.13
sessioninstaller==0.0.0
sh==1.08
simplejson==3.3.1
six==1.6.1
smmap==0.8.2
software-center-aptd-plugins==0.0.0
sqlalchemy-migrate==0.9.1
ssh-import-id==3.21
stevedore==0.15.7.gff1f0fd
suds==0.4.1
-e git://git.openstack.org/openstack/swift.git@1dfe5186542486342581ab66cd5364b6b7d04e93#egg=swift-master
system-service==0.1.6
taskflow==0.2.112.gec24543
-e git://git.openstack.org/openstack/tempest.git@b4171c7bbfaf32ad647d1d31f65b2ee7059b3125#egg=tempest-master
termcolor==1.1.0
testrepository==0.0.18
testresources==0.2.7
testscenarios==0.4
testtools==0.9.35
tox==1.6.1
transaction==1.4.1
translationstring==1.1
trash-cli==0.12.7
uTidylib==0.2
unittest2==0.5.1
unity-lens-photos==1.0
urlgrabber==3.9.1
urllib3==1.7.1
uuid==1.30
vboxapi==1.0
venusian==1.0a7
virtinst==0.600.4
virtkey==0.63.0
virtualenv==1.11.4
wadllib==1.3.2
waitress==0.8.2
warlock==1.1.0
websockify==0.5.1
wsgiref==0.1.2
xattr==0.6.4
xdiagnose==3.6.3build2
xkit==0.0.0
zope.deprecation==4.0.2
zope.interface==4.0.5
