<script type="text/ng-template" id="containersettings.html">
    <div class="modal-header">
        <h3 class="modal-title">{{container.id}} settings</h3>
    </div>
    <div class="modal-body">
    <div class="alert alert-info alert-dismissible" role="alert" ng-if="msg">{{msg}}</div>

    <div class="panel panel-info">
        <div class="panel-heading">General</div>
        <div class="panel-body">
            <div class="checkbox" ng-if="container.user_can_push">
                <label>
                <input type="checkbox" ng-model="container.visible"> Public
                </label>
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Description</div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group"><label for="short_desc">Short description</label> <input id="short_desc" type="text" class="form-control" ng-model="container.meta.short_description"></input></div>
            </form>
            <form class="form-horizontal">
                <div class="form-group"><label for="long_desc">Long description</label> <textarea id="long_desc" type="text" class="form-control" ng-model="container.meta.description"></textarea></div>
            </form>
        </div>
    </div>


    <div class="panel panel-info" ng-if="container.user_can_push">
        <div class="panel-heading">Git url and hooks</div>
        <div class="panel-body">
            <div class="form-group">
                <div class="form-group"><input type="text" class="form-control" ng-model="container.meta.git"></input></div>
                <form class="form-inline" ng-if="container.meta.git"><div class="form-group">Build hook url: <input class="form-control" value="/container/git/{{container.id}}?apikey={{user.apikey}}" disabled/><button class="btn btn-primary" ng-click="git_build()">Build</button></div></form>
                <form class="form-inline" ng-if="container.meta.git"><div class="form-group">Build and tag hook url: <input class="form-control" value="/container/tag/{{container.id}}/TAGVALUE?apikey={{user.apikey}}" disabled/><input type="text" class="form-control" ng-model="git_tag"></input><button class="btn btn-primary" ng-click="git_build_tag()">Build and tag</button></div></div></form>
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Metadata tags</div>
        <div class="panel-body">
            <form ng-if="container.user_can_push" class="form-inline">
                <div class="form-group">
                    <label for="newtag">Tag</label>
                    <input type="text" class="form-control" ng-model="newtag" id="newtag" placeholder="alignment"/>
                </div>
                <button type="button" ng-click="$parent.addtag(newtag)" class="btn btn-primary">Add</button>
            </form>
            <div class="row tags">
                <span ng-repeat="tag in container.meta.tags" class="label label-info">{{tag}} <span ng-if="container.user_can_push"><i ng-click="delete_tag(tag)" class="glyphicon glyphicon-trash"> </i></span></span>
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">bio.tools</div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <label for="elixir">Identifier</label>
                    <input type="text" class="form-control" ng-model="container.meta.elixir" id="elixir" placeholder="affiliation/name"/>
                </div>
                <div class="form-group">
                    <label for="cwl_path">CWL path in git repo or URL</label>
                    <input class="form-control" ng-model="container.meta.cwl_path"></input>
                </div>
            </form>
        </div>
    </div>


    <div class="panel panel-info" ng-if="container.user_can_push">
        <div class="panel-heading">Push members</div>
        <div class="panel-body">
            <form ng-if="container.user_can_push" class="form-inline">
                <div class="form-group">
                    <label for="member_push">User id</label>
                    <input type="text" class="form-control"  ng-model="member_push" id="member_push" placeholder="Jane Doe"/>
               </div>
               <button ng-click="$parent.add_member_push(member_push)" type="button" class="btn btn-primary">Add</button>
            </form>
            <div ng-repeat="member in container.acl_push.members">
                <i class="glyphicon glyphicon-user"></i> {{member}} <span ng-if="container.user_can_push"><i ng-click="delete_member_push(member)" class="glyphicon glyphicon-trash"> </i></span>
            </div>
        </div>
    </div>

    <div class="panel panel-info" ng-if="container.user_can_push">
        <div class="panel-heading">Pull members</div>
        <div class="panel-body">
            <form ng-if="container.user_can_push" class="form-inline">
                <div class="form-group">
                    <label for="member_pull">User id</label>
                    <input type="text" class="form-control" ng-model="member_pull" id="member_pull" placeholder="Jane Doe"/>
                </div>
                <button ng-click="$parent.add_member_pull(member_pull)" type="button" class="btn btn-primary">Add</button>
            </form>
            <div ng-repeat="member in container.acl_pull.members">
                <i class="glyphicon glyphicon-user"></i> {{member}} <span ng-if="container.user_can_push"><i ng-click="delete_member_pull(member)" class="glyphicon glyphicon-trash"> </i></span>
            </div>
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>


<div class="alert alert-info alert-dismissible" role="alert" ng-if="msg">{{msg}}</div>

<div class="row">
 <h3>{{container_status}} | <span ng-if="container.meta.git || container.meta.Dockerfile">Automatic build</span></h3>
</div>


<div itemscope itemtype="http://schema.org/SoftwareApplication">

<div class="row">
    <meta itemprop="applicationCategory" content ="container"/>
    <meta itemprop="applicationSubCategory" content ="docker"/>
    <h2><span itemprop="name">{{container.id}} <i style="color: red;" ng-if="container.meta.clair" class="fa fa-shield" data-toggle="tooltip" data-placement="top" title="Scanned for security"> </i></span>
        <span ng-if="container.user_can_push"><button class="btn btn-warning btn-action" ng-click="settings()"><i class="glyphicon glyphicon-cog" aria-hidden="true"></i> Settings</button></span>
        <span class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                More info
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a ng-href="#/dockerfile/{{container_id}}">Dockerfile</a></li>
                <li ng-if="container.meta.clair"><a ng-href="#/security/{{container_id}}">Security</a></li>
                <li role="separator" class="divider"></li>
                <li  ng-if="container.user_can_push"><a ng-href="#/builds/{{container_id}}">Builds</a></li>
              </ul>
        </span>
    </h2>
        <span class="pull-right" ng-if="container.user_can_push"><button class="btn btn-danger btn-action"  confirm="Delete container?" ng-click="delete_container()">Delete</button></span></h2>

        <div><i class="glyphicon glyphicon-download"> </i> <span>{{container.pulls || 0}}</span>  <span ng-if="container.meta.last_updated"> - Last pushed: {{ convert_timestamp_to_date(container.meta.last_updated)}}</span></div>
</div>
<div class="alert alert-info" role="alert">
    <p>docker pull {{service}}/{{container.id}}[:tag]
          <button ng-if="user.role=='admin'" class="pull-right btn btn-warning" ng-click="elixir()">Push to Elixir registry</button>
    </p>
</div>
<div class="row">
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Description</div>
                    <div class="panel-body">
                        <div btf-markdown="container.meta.description||container.meta.docker_description||'none'" itemprop="description">
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">General information</div>
                    <div class="panel-body">
                         <div class="checkbox" ng-if="container.user_can_push">
                             <label>
                             <input type="checkbox" ng-model="container.visible" disabled> Public
                             </label>
                         </div>
                         <div itemprop="author" itemscope itemtype="http://schema.org/Person">Author: <span itemprop="name">{{container.user}}</span></div>
                         <div>Architecture: <span itemprop="operatingSystem">{{manifest.architecture || 'linux'}}</span></div>
                         <div>Tag: {{manifest.tag}}</div>
                    </div>
                </div>
                <div class="panel panel-info" ng-if="container.user_can_push">
                    <div class="panel-heading">Git url and hooks</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div>{{container.meta.git || 'none'}}</div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">Metadata tags</div>
                    <div class="panel-body">
                        <div class="row tags">
                            <span ng-repeat="tag in container.meta.tags" class="label label-info">{{tag}}</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">bio.tools</div>
                    <div class="panel-body">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="elixir">Identifier</label>
                                <input id="elixir" type="text" disabled class="form-control" ng-model="container.meta.elixir"/>
                            </div>
                        </form>
                        <div ng-repeat="version in elixir_versions">
                            <a target="_blank" ng-href="{{version.url}}"><i class="glyphicon glyphicon-new-window"></i> {{version.version}}</a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">Docker tags</div>
                    <div class="panel-body">
                        <div ng-repeat="tag in tags">
                            <i class="glyphicon glyphicon-tag"></i> <span itemprop="softwareVersion">{{tag}}</span> <span ng-if="container.meta.docker_tags[tag]"> - <span itemprop="fileSize">{{formatSizeUnits(container.meta.docker_tags[tag].size)}}</span> - Last updated: {{convert_timestamp_to_date(container.meta.docker_tags[tag].last_updated)}}</span>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">Docker Entrypoint</div>
                    <div class="panel-body">
                        <div>Entrypoint: {{container.meta.Entrypoint || "none"}}</div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">Docker labels</div>
                    <div class="panel-body">
                        <ul ng-repeat="tag in container.meta.Dockerlabels">
                            <li ng-repeat="(key, data) in tag">{{key}}: {{data}}</li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-info" ng-if="container.meta.cwl">
                    <div class="panel-heading">CWL</div>
                    <div class="panel-body">
                        <div><pre>
                            {{container.meta.cwl}}
                        </pre></div>
                    </div>
                </div>

          </div>
       </div>

</div>

</div>
