  <tabset justified="true">
    <tab heading="Info" active="true">
        <div class="row">
            <h2>{{container.id}}</h2>
            <div><i class="glyphicon glyphicon-download"> </i> {{container.pulls}}</div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div><h3>Description</h3></div>
                <div onaftersave="proposesave()" editable-textarea="container.meta.description">{{container.meta.description}}</div>
                <div><h3>General info</h3></div>
                <div>Author: {{container.user}}</div>
                <div>Architecture: {{manifest.architecture}}</div>
                <div>Tag: {{manifest.tag}}</div>
                <div><h3>User tags</h3>
                </div>
                <div><h3>Ontology</h3>
                </div>
                <button ng-if="show_save" class="btn btn-primary"  ng-click="update_container()">Update container info</button>
            </div>
            <div class="col-sm-6">
                <div><h3>Docker tags</h3></div>
                <div ng-repeat="tag in tags">
                    <i class="glyphicon glyphicon-tag"></i> {{tag}}</div>
                </div>
            </div>
        </div>

    </tab>
    <tab heading="Dockerfile" select="go_to_dockerfile()">
    </tab>
    <tab heading="Builds" >
        <div class="row">
            <div class="col-sm-6">
                <div><h3>Dockerfile builds</h3></div>
                <div ng-repeat="build in container.builds">
                    <div ng-if="build.status" class="alert alert-success" ng-click="show_log(build)">{{build.user}} {{build.image_id}}</div>
                    <div ng-if="! build.status" class="alert alert-danger" ng-click="show_log(build)">{{build.user}} {{build.image_id}}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div><h3>Dockerfile builds log</h3></div>
                <div ng-bind-html="dockerlog">
                </div>
            </div>

        </div>

    </tab>
  </tabset>
