<div class="row">
  <div class="basic_search">
    <h3>Search containers in registry</h3>
    <div class="input-group">
        <input type="text" ng-model="selected" placeholder="Containers" typeahead-min-length="3" typeahead-on-select="select($item, $model, $label)" typeahead="id for id in get_containers($viewValue) | filter:$viewValue | limitTo:10" typeahead-loading="loadingContainers" class="form-control">
        <i ng-show="loadingContainers" class="glyphicon glyphicon-refresh"></i>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="search()">Search!</button>
        </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<div class="row" ng-if="! containers">
    <div class="col-sm-4" ng-repeat="last in ::latest">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" id="panel-title"><a ng-href="#/container/{{last.id}}">{{last.id}}</a></h3>
            </div>
            <div class="panel-body">{{last.description}}</div>
        </div>
    </div>
</div>

<div class="row" ng-if="containers">
    <table id="containers" datatable="ng"  class="table table-bordered table-striped row-border hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>User id</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="container in containers track by container.id">
                <td ng-click="show_container(container)">{{ ::container.id }}
                    <span ng-if="container.meta.git!='' || container.meta.Dockerfile!=''">(Automatic build)</span>
                </td>
                <td>{{::container.meta.description}}</td>
                <td>{{::container.user}}</td>
            </tr>
        </tbody>
    </table>
</div>
