<div class="row">
<h1>Help page</h1>
<h2>Support</h2>
<div>If you have questions, issues or requests, please contact the <a href="mailto:support@genouest.org">support team</a></div>
<h2>Pushing a container</h2>
<div>To push a container in the registry, you must have some specific rights. If you are authenticated via ldap, you are authorized to do so. People authenticating with Google, GitHub, etc. must ask to the support team to get those rights.</div>
<h2>Create a new container</h2>
<div>To create a container, you must provide a Dockerfile and/or a git repository. The git repository can contain a Dockerfile.</div>
<h2>Building a container</h2>
<div>When you update a Dockerfile, a build is automatically requested and launched as a background tasks. Result of the build will appear in the <i>Build</i> tab.</div>
<div>If you provided only a Dockerfile, file must be self-sufficient for the build.</div>
<div>If you provided a git repository and it contains a Dockerfile, the build process will use this file, else you must also provide a Dockerfile in addition to the repository.</div>
<div>The Dockerfile in git repository can be overriden with an other Dockerfile.</div>
</div>
