
<div class="loginform">
	<div class="row" ng-if="msg">
		<div class="alert alert-warning" role="alert">{{msg}}</div>
	</div>
	<div class="row login_box">
	    <div class="col-md-12 col-xs-12" align="center">
            <div class="outter"><img src="img/container.jpg" class="image-circle"/></div>
            <h1>Bioshadock</h1>
	    </div>

        <div class="col-md-12 col-xs-12 login_control">
                <div class="control">
                    <div class="label">User identifier</div>
                    <input type="text" class="form-control" ng-model="uid" placeholder="user identifier"/>
                </div>

                <div class="control">
                     <div class="label">Password</div>
                    <input type="password" class="form-control" ng-model="password"/>
                </div>
                <div align="center">
                     <button class="btn btn-orange" ng-click="authenticate()">LOGIN</button>
                </div>

        </div>
        <div class="col-md-12 col-xs-12 login_control">
            <h3>Connect with one of your identity providers</h3>
            <table><tr>
                <td class="provider_login">
                    <form action="/login/google" method="post">
                        <button class="btn btn-large btn-primary" type="submit">Google</button>
                    </form>
                </td>
            </tr></table>
        </div>

    </div>
</div>
