<h1>bioshadock</h1>

<div class="row">
    <p>Bla bla bla</p>
    <div class="alert alert-info">To fix SSL certificates, you must download the
root certificate https://www.gandi.net/static/CAs/GandiStandardSSLCA2.pem and add it to your local certificates.
       <pre>
Copy files in /etc/ssl/certificates
update-ca-certificates
restart docker daemon

Or copy file in /etc/docker/certs.d/{{service}} with name ca.crt and restart doc
ker

Or append the content of the file in /etc/ssl/certs/ca-certificates.crt
       </pre>
    </div>
</div>
<div class="row">
    <h3>How to push to the repository</h3>

    <pre>
        docker tag XYZ {{service}}/X/Y/Z
        docker push {{service}}/X/Y/Z
    </pre>
</div>
